<h3> Edit Your Team</h3>

<%= form_for @team do |f| %>
  <div class="form-group">
  <p><label>Team Name</label><br>
  <%= f.text_field :name %></p>

  <label>Select Players to Add</label><br>
  <%= f.collection_check_boxes :player_ids, Player.all.list, :id, :player_info, {:prompt => "Please Select Your Players"}, {:multiple => true} %><br>
  <%= f.hidden_field :user_id, value: current_user.id  %>

  <%= f.submit "Submit" %>
  </div>
<%end%>
