<div class='container'>

  <h2><%= @team.team_name %></h2>
  <p>Owner: <%= @team.user.name %><br>
    League: <%=@team.league.name%></p>

  <div class='darken'>
    <div id="x"></div>

    <a id="add" href="#" >Add Players</a>

    <div id="playerForm">

      <%= form_for ([@user, @team]) do |f| %>
      <% user_id_field(@team) %>
            <h4>QBs</h4>
            <ul>
              <%= f.collection_check_boxes(:player_ids, Player.qb.list, :id, :player_info, {:multiple => true}) do |p| %>
                <%= p.label(class:"label-checkbox") { p.check_box + p.text } %><br>
              <%end%>
              </ul>

              <h4>RBs</h4>
              <ul>
                <%= f.collection_check_boxes(:player_ids, Player.rb.list, :id, :player_info, {:multiple => true}) do |p| %>
                  <%= p.label(class:"label-checkbox") { p.check_box + p.text } %><br>
                <%end%>
              </ul>

              <h4>WRs</h4>
              <ul>
                <%= f.collection_check_boxes(:player_ids, Player.wr.list, :id, :player_info, {:multiple => true}) do |p| %>
                  <%= p.label(class:"label-checkbox") { p.check_box + p.text } %><br>
                <%end%>
              </ul>

              <h4>TEs</h4>
              <ul>
                <%= f.collection_check_boxes(:player_ids, Player.te.list, :id, :player_info, {:multiple => true}) do |p| %>
                  <%= p.label(class:"label-checkbox") { p.check_box + p.text } %><br>
                <%end%>
              </ul>

            <%= f.submit "Submit", id: "player_submit" %>

      <%end%>


    </div>
    <br></br>

    <% if current_user.id == @team.user_id || current_user.admin %>
      <%= link_to "Edit Team Name", edit_user_team_path(@team.user_id, @team) %><br>
      <%= link_to "Delete Team", @team, method: :delete, data: { confirm: "Really?" } %>
    <% end %>
  </div>
</div>
<br></br>
