<div class='container'>

  <h2><%= @team.team_name %></h2>
  <p>Owner: <%= @team.user.name %><br>
    League: <%=@team.league.name%></p>

  <div class='darken'>
    <h4>QBs</h4>
    <% @team.players.qb.each do |player| %>
      <p><%= player.player_name%>, <%=player.nfl_team %></p>
    <%end%><br>

    <h4>RBs</h4>
    <% @team.players.rb.each do |player| %>
      <p><%= player.player_name%>, <%=player.nfl_team %></p>
    <%end%><br>

    <h4>WRs</h4>
    <% @team.players.wr.each do |player| %>
      <p><%= player.player_name%>, <%=player.nfl_team %></p>
    <%end%><br>

    <h4>TEs</h4>
    <% @team.players.te.each do |player| %>
      <p><%= player.player_name%>, <%=player.nfl_team %></p>
    <%end%><br>

    <a id="add" href="#" >Add Players</a>

    <div id="playerForm">

      Hello

    </div>
    <br></br>
    <% if current_user.id == @team.user_id || current_user.admin %>
      <p><%= link_to "Edit Team/Add Players", edit_user_team_path(@team.user_id, @team) %><br>
      <%= link_to "Delete Team", @team, method: :delete, data: { confirm: "Really?" } %></p>
    <% end %>
  </div>
</div>
<br></br>
