<% if @league.errors.any? %>
  <div class='field_with_errors'>
    <p><%= pluralize(@league.errors.count, "error") %> prohibited this team from being saved:</p>
    <ul>
    <% @league.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @league do |f| %>
  <div class="form-group">
  <p><label>League Name</label><br>
  <%= f.text_field :name %></p>

  <p><label>Scoring</label><br>
  <%= f.text_field :scoring_style%></p>

  <p><label>Draft Style</label><br>
  <%= f.text_field :draft_style %></p>

  <%= f.submit "Submit" %>
  </div>
<%end%>
