<%= form_for @league do |f| %>
  <div class="form-group">
  <p><label>League Name</label><br>
  <%= f.text_field :name %></p>

  <p><label>League Name</label><br>
  <%= f.text_field :name %></p>

  <p><label>Scoring</label><br>
  <%= f.text_field :scoring_style%></p>

  <p><label>Draft Style</label><br>
  <%= f.text_field :draft_style %></p>
  </div>
<%end%>
