<h3>League Homepage</h3>

<ul>
<h4><%= @league.name %></h4>
  <li><%= @league.scoring_style %></li>
  <li><%= @league.draft_style %></li>
</ul>

<ul>
<h4>Teams</h4>
<% @league.teams.each do |team| %>
    <%= link_to team.team_name, team_path(team) %><br>
<%end%>
</ul>

<% if current_user.admin %>
  <p><%= link_to "Edit League", edit_league_path(@league) %></p>

<%= form_tag league_path(@league.id), method: "delete" do %>
  <%= submit_tag "Delete" %>
<%end%>


<%end%>
