<div class='container'>
  <h1>League Homepage</h1>

  <div class='darken'>
    <h2><%= @league.name %></h2>
    <p>Scoring: <%= @league.scoring %><br>
    Draft: <%= @league.draft %></p>

    <h3>Teams</h3>
    <% @league.teams.each do |team| %>

        <%= link_to team.team_name, user_team_path(team.user_id, team) %><br>

    <%end%>
    <br></br>
    <% if current_user.admin %>
    <div class='admin'>
      <h4>Admin Tools</h4>
      <%= link_to "Edit League", edit_league_path(@league) %><br>

      <%= link_to "Delete", @league, method: :delete, data: { confirm: "Really?" } %>
    </div>
    <%end%>
  </div>
</div>
