<%= form_for @player do |f| %>
  <div class="form-group">
  <p><label>Player Name</label><br>
  <%= f.text_field :player_name %></p>

  <p><label>Position</label><br>
  <%= f.select :position, Player::POSITIONS %></p>

  <p><label>NFL Team</label><br>
  <%= f.select :nfl_team, Player::TEAMS %></p>

  <%= f.submit "Submit" %>
  </div>
<%end%>
