<h3>Current Players</h3>

<div class='container'>
<h3>Players</h3>

<ul>
<% if current_user.admin %>
  <p><%= link_to "Add a Player", new_player_path %></p>
  <p>Select a player from the list below to edit his information</p>
<%end%>

<h4>QBs</h4>
<% @players.qb.list.each do |p| %>
  <p><%= link_to p.player_info, player_path(p) %></p>
<%end%>

<h4>RBs</h4>
<% @players.rb.list.each do |p| %>
  <p><%= link_to p.player_info, player_path(p) %></p>
<%end%>

<h4>WRs</h4>
<% @players.wr.list.each do |p| %>
  <p><%= link_to p.player_info, player_path(p) %></p>
<%end%>

<h4>TEs</h4>
<% @players.te.list.each do |p| %>
  <p><%= link_to p.player_info, player_path(p) %></p>
<%end%>
</ul>
</div>
