<div class='container'>

  <h3>Current Players</h3>

  <% if current_user.admin %>
  <div class='admin'>
  <h4>Administrators</h4>
    <ul>
      <li><%= link_to "Add a Player", new_player_path %></li>
      <li>Select a player from the list below to edit his information.</li>
    </ul>
  </div>
  <%end%>


  <div class='anchors'>
    <a href="#All" class="all">All Players</a>
    <a href="#QBs" class="qbs">QBs</a>
    <a href="#RBs" class="rbs">RBs</a>
    <a href="#WRs" class="wrs">WRs</a>
    <a href="#TEs" class="tes">TEs</a>
    <a href="#Team" class="teams">NFL Team</a>
  </div>




  <div class='darken'>
    <div id="players">

      <% @players.each do |p| %>
        <div id="all<%= p.id %>"></div>
      <%end%>

      <% @players.each do |p| %>
        <div id="qbs<%= p.id %>"></div>
      <%end%>

      <% @players.each do |p| %>
        <div id="rbs<%= p.id %>"></div>
      <%end%>

      <% @players.each do |p| %>
        <div id="wrs<%= p.id %>"></div>
      <%end%>

      <% @players.each do |p| %>
        <div id="tes<%= p.id %>"></div>
      <%end%>

    </div>

  </div

</div>
