<div class='container'>

  <h3><%= link_to "Current Players", players_path%></h3>

  <% if current_user.admin %>
  <div class='admin'>
  <h4>Administrators</h4>
    <ul>
      <li><%= link_to "Add a Player", new_player_path %></li>
      <li>Select a player from the list below to edit his information.</li>
    </ul>
  </div>
  <%end%>

  <%=form_tag(@players_path, method: 'get') do %>
    <%= text_field_tag :nfl_team%>
    <%=submit_tag 'Search by Team'%>
  <%end%>

  <div class='anchors'>
    <a href="#QBs" class="qbs">QBs</a>
    <a href="#RBs" class="rbs">RBs</a>
    <a href="#WRs">WRs</a>
    <a href="#TEs">TEs</a>
  </div>

  <div class='darken'>
    <div id="players">

      <% @players.each do |p| %>
        <div id="qbs<%= p.id %>"></div>
      <%end%>

      <% @players.each do |p| %>
        <div id="rbs<%= p.id %>"></div>
      <%end%>
    </div>



  </div

</div>
