<div class='container'>

  <h1 id="playerName"><%=@player.player_name%></h1>
  <h2 id="playerPosition"><%=@player.position%></h2>
  <h2 id="playerNflTeam"><%=@player.nfl_team%></h2>

  <button class="js-next" data-id="<%=@player.id%>">Next</button>

  <% if current_user.admin %>
    <p><%= link_to "Update Player Info", edit_player_path %></p>
  <%end%>

</div>
